@use "./Scss-Sections/specificProduct";
@use "./Scss-Sections/sidebar";
@use "./Scss-Sections/_allProduct";
@use "./Scss-Sections/_login";
@use "./Scss-animations/_loading";
@use "./Scss-Sections/newNavbar";
@use "./Scss-Sections/sideMenu";
@use "./Scss-Sections/pagination";

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
