.specific-products {
  background-color: white;
}

.home-sidebar {
  width: 100%;
  background-color: #fff;
}

.home-sidebar li {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 2.2em;
}

.home-sidebar li img {
  margin: 0 1em;
}

@media screen and (max-width: 280px) {
  .home-sidebar li {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 540px) {
  .home-sidebar li {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .home-sidebar li {
    font-size: 0.7em;
  }
}

.home-sidebar li::after {
  position: absolute;
  content: " ";
  width: 80%;
  border-bottom: 2px solid black;
  bottom: 0;
  left: 1.5em;
}

@media screen and (max-width: 540px) {
  .home-sidebar li::after {
    bottom: 0px;
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .home-sidebar li::after {
    bottom: 0px;
  }
}

.home-sidebar li:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.navbar-brand img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .search-btn {
    display: none;
  }
}

.search-icon {
  border: 3px solid white;
}

@media screen and (min-width: 768px) {
  .search-icon {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cart-image img {
  min-width: 1.8em;
}

.sub-menu {
  font-size: 14px;
  line-height: 1em;
  max-height: 3em;
}

.sub-menu li {
  white-space: nowrap;
}

@media screen and (max-width: 416px) {
  .sub-menu {
    font-size: 12px;
  }
}

.card img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.product-image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 7rem;
  width: 100%;
}

.lds-circle {
  height: 5rem;
  width: 100%;
  display: inline-block;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: purple;
  -webkit-animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@-webkit-keyframes lds-circle {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@keyframes lds-circle {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

.product-home {
  background-color: #f3f3f3;
}

.content {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=index.css.map */