.navbar-brand {
  img {
    max-width: 100%;
  }
}
.nav-items {
  white-space: nowrap;
}
.search-btn {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.search-icon {
  border: 3px solid white;

  @media screen and (min-width: 768px) {
    display: none;
    align-items: center;
  }
}
.cart-image {
  img {
    min-width: 1.8em;
  }
  .cart-number {
    position: absolute;
    top: -11px;
    right: 5px;
    font-weight: 700;
  }
}

.sub-menu {
  font-size: 14px;
  line-height: 1em;
  max-height: 3em;
  li {
    white-space: nowrap;
  }
  @media screen and (max-width: 416px) {
    font-size: 12px;
  }
}
.my-container {
  background-color: black;
}
