$white: #fff;

.home-sidebar {
  width: 100%;
  background-color: $white;
}

.home-sidebar li {
  position: relative;
  align-items: center;
  list-style: none;
  height: 2.2em;
  width: 90%;
  margin: auto;
  img {
    margin: 0 1em;
  }
  @media screen and (max-width: 280px) {
    font-size: 0.5em;
  }
  @media screen and (max-width: 540px) {
    font-size: 0.5em;
  }
  @media screen and (max-width: 768px) {
    font-size: 0.7em;
  }

  &::after {
    // content: " ";
    // width: 80%;
    // margin: auto;
    // position: absolute;
    // border-bottom: 2px solid black;
    // bottom: 0px;
    // left: 0;
    position: absolute;
    content: " ";
    width: 80%;

    border-bottom: 1px solid rgba(123, 123, 126, 0.5);
    bottom: 0;
    left: 1.2em;
    @media screen and (max-width: 280px) {
    }
    @media screen and (max-width: 540px) {
      bottom: 0px;
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      bottom: 0px;
    }
  }

  &:hover {
    background-color: antiquewhite;
    border-radius: 1rem;
    width: 90%;
    margin: auto;
    cursor: pointer;
  }
}
